<IfModule mod_expires.c>
  ExpiresActive On

# Images

ExpiresByType image/jpg "access plus 1 hour"
ExpiresByType image/png "access plus 1 hour"
ExpiresByType image/webp "access plus 1 hour"
ExpiresByType image/svg+xml "access plus 1 hour"
ExpiresByType image/x-icon "access plus 1 hour"

# Fonts

ExpiresByType font/ttf "access plus 1 year"
ExpiresByType font/otf "access plus 1 year"
ExpiresByType font/woff "access plus 1 year"
ExpiresByType font/woff2 "access plus 1 year"
ExpiresByType application/font-woff "access plus 1 year"

# CSS, JavaScript

ExpiresByType text/css "access plus 2 months"
ExpiresByType text/javascript "access plus 2 months"
ExpiresByType application/javascript "access plus 2 months"

# Others

ExpiresByType application/pdf "access plus 2 months"
ExpiresByType image/vnd.microsoft.icon "access plus 2 months"
</IfModule>

<IfModule mod_expires.c>
    <FilesMatch "\\.(jpe?g|png|webp)">
        Header set Cache-Control "max-age=3600"
</FilesMatch>
    <FilesMatch "\\.(js|css)">
        Header set Cache-Control "max-age=5184000"
</FilesMatch>
    <FilesMatch "\\.(ttf|otf|woff2?)">
        Header set Cache-Control "max-age=31536000"
</FilesMatch>
</IfModule>
